 .running{
    /*background-color:rgb(76,175,80) ;*/
    background-color: rgb(44,190,99);
}
.idle {
  /*background-color:rgb(249,168,37) ;*/
  background-color: rgb(232,162,73);

}
.stopped{
  /*background-color:rgb(198,40,40) ;*/
  background-color: rgb(236,85,80);
}
.nodata{
  background-color: #444444;
}


.tdtable{
        border-left: 1px solid #dddddd;
        font-family:"Montserrat";
        font-size: 15px;
        text-align: center;
        color: grey;
        padding: 10px;
        width: 30%;
}
.tdtitle{
        border-left: 1px solid #dddddd;
        font-family:"Montserrat";
        font-size: 15px;
        text-align: center;
        color: #4D4B4C;
        padding: 10px; 
        width: 30%;
}

.bg_grey{
        background-color: #f2f2f2;
}

.target{
    position: absolute;
    right: -420px;
    transition: ease 1s;
    height: 100%;
    padding:20px !important;
    background: #fff !important;

  }
  .target h2 span{
    margin-right: 20px;
  }
  .target h2{
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
  }
  

  .show_pop{
    background: #fff;
    right: 0px!important;
  }
  .machine-registration{
    overflow: hidden;
  }
